

@font-face {
  font-family: "IranSansMobileBold";
  src: url("~assets/fonts/iran_sans_mobile_bold.ttf");
}
@font-face {
  font-family: "IranSansMobileMedium";
  src: url("~assets/fonts/iran_sans_mobile_medium.ttf");
}
@font-face {
  font-family: "IranSansMobileLight";
  src: url("~assets/fonts/iran_sans_mobile_light.ttf");
}

