

@font-face {
  font-family: "IranSansMobileBold";
  src: url("~assets/fonts/iran_sans_mobile_bold.ttf");
}
@font-face {
  font-family: "IranSansMobileMedium";
  src: url("~assets/fonts/iran_sans_mobile_medium.ttf");
}
@font-face {
  font-family: "IranSansMobileLight";
  src: url("~assets/fonts/iran_sans_mobile_light.ttf");
}

.page-enter-active,
.page-leave-active {
  transition: opacity 0.3s;
}
.page-enter,
.page-leave-to {
  opacity: 0;
}

.layout-enter-active,
.layout-leave-active {
  transition: opacity 0.3s;
}
.layout-enter,
.layout-leave-to {
  opacity: 0;
}

.slide-bottom-enter-active,
.slide-bottom-leave-active {
  transition: opacity 0.15s ease-in-out, transform 0.15s ease-in-out;
}
.slide-bottom-enter,
.slide-bottom-leave-to {
  opacity: 0;
  transform: translate3d(0, 15px, 0);
}
.bounce-enter-active {
  transform-origin: top;
  animation: bounce-in 0.6s;
}
.bounce-leave-active {
  transform-origin: top;
  animation: bounce-out 0.3s;
}
@keyframes bounce-in {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1.25);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes bounce-out {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.25);
  }
  100% {
    transform: scale(0);
  }
}
